/* AMAN TIWARI */
/* 8827868 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    background-color: beige;
}

header {
    background: linear-gradient(to bottom, #9c4e00, #ffffff, #0a5404);
    color: black;
    padding: 20px;
    margin-top: 0px;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}

h1,
h2 {
    font-variant: small-caps;
    color: black;
    text-align: center;
}

h2 {
    padding-bottom: 15px;
}

blockquote {
    text-align: justify;
    border-left: 5px solid #333;
    padding-left: 10px;
    margin-bottom: 10px;
}

blockquote cite {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

iframe {
    width: 900px;
    height: 450px;
    border: 2px solid green;
    padding: 5px;
}

footer {
    background: linear-gradient(to bottom, #9c4e00, #ffffff, #0a5404);
    color: black;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.main-figure {
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: rgb(212, 212, 135);
}

#img-1,
#img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#first-img,
#second-img {
    height: 300px;
    width: 400px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: hsl(60, 55%, 71%);
    padding: 20px;
    position: relative;
}

#second-img {
    height: 500px;
    margin-top: 30px;
    background-color: hsl(120, 33%, 51%);
}

.text-color {
    color: green;
}

.quote-block {
    box-shadow: 5px 5px 0px rgb(20, 120, 20);
    border: 2px solid yellow;
    width: 600px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: center;

}